body{
    background-color: #f1f7ff;
}
#content form{
    margin-top: calc(50vh, 241px);
}
#content form button{
    width: 100%;
}
.botoes{
    gap: 0.2rem;
}
.botoes a{
    min-width: 100%;
    margin-top: 0.2rem;
}